<template>
  <div class="card">
    <div class="header text-center">
      <h3 class="title">{{ detailPokemon.name }}&nbsp;#{{ detailPokemon.nationalPokedexNumber }}</h3>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <img :src="detailPokemon.imageUrl">
          <div class="progress">
            <div 
              class="progress-bar" 
              role="progressbar" 
              :aria-valuenow="detailPokemon.hp" 
              aria-valuemin="0" 
              aria-valuemax="250" 
              :style="{width: (detailPokemon.hp/250)*100 + '%'}"
            >
              {{ detailPokemon.hp }} HP
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Series</dt><dd>{{ detailPokemon.series.toString() }}</dd>
            <dt>Type</dt><dd>{{ detailPokemon.types.toString() }}</dd>
            <dt>Subtype</dt><dd>{{ detailPokemon.subtype }}</dd>
            <dt>Supertype</dt><dd>{{ detailPokemon.supertype }}</dd>
            <dt>Set</dt><dd>{{ detailPokemon.set }}</dd>
            <dt>Rarity</dt><dd>{{ detailPokemon.rarity === '' ? "-" : detailPokemon.rarity }}</dd>
            <dt>Artist</dt><dd>{{ detailPokemon.artist }}</dd>
          </dl>
          <div class="panel panel-default">
            <div class="panel-heading">Attacks</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6" v-for="(attack, index) in detailPokemon.attacks" :key="index">
                  <dl>
                    <div v-for="(value, key, idx) in attack" :key="idx">
                      <dt class="text-capitalize">{{ key }}</dt>
                      <template v-if="Array.isArray(value)">
                        <dd>{{ value.toString() }}</dd>
                      </template>
                      <template v-else>
                        <dd>{{ value === '' ? "-" : value }}</dd>
                      </template>
                    </div>  
                  </dl>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'

  export default {
    created () {
      this.$store.dispatch('getPokemonById', this.$route.params.id)
    },
    computed: {
      ...mapGetters([
        'detailPokemon'
      ])
    }
  }
</script>
<style lang="scss" scoped>
img {
  width: 100%;
  margin-bottom: 15px;
}

.dl-horizontal {
  dt {
    text-align: left !important;
  }
}
</style>
