<template>
  <div>

    <div class="card">
      <div class="header">
        <h4 class="title">Filters</h4>
      </div>

      <form v-on:submit.prevent="filterPokemon" class="">
        <vue-tabs class="content" @tab-change="handleTabChange">
          
          <v-tab title="# Pokedex">
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Pokedex Number</label>
                  <input v-model="pokedexNumber" class="form-control" type="number" min="0">
                </div>
              </div>
            </div>
          </v-tab>

          <v-tab title="Name">
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                  <input v-model="name" class="form-control" type="text">
                </div>
              </div>
            </div>
          </v-tab>

          <v-tab title="Types">
            <br>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Type</label>
                  <select class="form-control" v-model="optionType">
                    <option :value="undefined"></option>
                    <template v-for="(type, index) in types">
                      <option :value="type" :key="index">{{ type }}</option>
                    </template>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Sub Type</label>
                  <select class="form-control" v-model="optionSubtype">
                    <option :value="undefined"></option>
                    <template v-for="(subtype, index) in subtypes">
                      <option :value="subtype" :key="index">{{ subtype }}</option>
                    </template>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Super Type</label>
                  <select class="form-control" v-model="optionSupertype">
                    <option :value="undefined"></option>
                    <template v-for="(supertype, index) in supertypes">
                      <option :value="supertype" :key="index">{{ supertype }}</option>
                    </template>
                  </select>
                </div>
              </div>
            </div>
          </v-tab>

        </vue-tabs>
        <div class="footer form-group pull-right">
            <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
        </div>
        <div class="clearfix"></div>
      </form>

      
    </div>

    <div class="row" v-if="filteredPokemon.length !== 0">
      <div class="col-md-3" v-for="(pokemon, index) in filteredPokemon" :key="index">
        <div class="card">
          <div class="content">
            <img :src="pokemon.imageUrl" :alt="pokemon.name">
            <h4 class="title">{{ pokemon.name }}</h4>
            <dl class="dl-horizontal">
              <dt>Type</dt><dd>{{ pokemon.types !== undefined ? pokemon.types.toString() : '-' }}</dd>
              <dt>Subtype</dt><dd>{{ pokemon.subtype }}</dd>
              <dt>Supertype</dt><dd>{{ pokemon.supertype }}</dd>
            </dl>
          </div>
          <div class="footer">
            <router-link :to="'/detail/' + pokemon.id" class="btn btn-success btn-fill">Detail</router-link>
          </div>
        </div>
      </div>
    </div>

    <div v-else class="alert alert-warning">
      <span>Pokemon Not Found.</span>
    </div>

  </div>
</template>
<script>
  import VueTabs from 'vue-nav-tabs'
  import Vue from 'vue'
  import { mapState, mapActions } from 'vuex'

  Vue.use(VueTabs)
  
  export default {
    data () {
      return initialState()
    },
    created () {
      this.$store.dispatch('getTypes')
      this.$store.dispatch('getSubtypes')
      this.$store.dispatch('getSupertypes')
    },
    computed: {
      ...mapState({
        types: state => state.pokemon.types,
        subtypes: state => state.pokemon.subtypes,
        supertypes: state => state.pokemon.supertypes,
        filteredPokemon: state => state.pokemon.filter
      })
    },
    methods: {
      ...mapActions([
        'getPokemonByType'
      ]),
      filterPokemon: function (event) {
        let filters = {
          name: this.name,
          nationalPokedexNumber: this.pokedexNumber,
          types: this.optionType !== undefined ? this.optionType : '',
          subtype: this.optionSubtype !== undefined ? this.optionSubtype : '',
          supertype: this.optionSupertype !== undefined ? this.optionSupertype : ''
        }

        this.getPokemonByType(filters)
      },
      handleTabChange (tabIndex, newTab, oldTab) {
        Object.assign(this.$data, initialState())
        console.log(this.$data)
      }
    }
  }

  function initialState () {
    return {
      name: '',
      pokedexNumber: '',
      optionType: '',
      optionSubtype: '',
      optionSupertype: ''
    }
  }
</script>
<style lang="scss" scoped>
img {
  margin-bottom: 20px;
  width: 100%;
}

.title {
  margin-bottom: 15px !important;
}

.dl-horizontal {
  dt {
    text-align: left !important;
    width: 100px !important;
  }

  dd {
    margin-left: 100px;
  }
}

.footer {
  padding: 0 15px 15px !important;
}
</style>
